*-prefix/
Boost/
FFTW3*/
HDF5/
INSTALL/
Makefile
SIRF/
STIR/
ISMRMRD/
Gadgetron/
SWIG/
Armadillo/
googletest/

# CMake output files
cmake_install.cmake
CMakeCache.txt
CMakeFiles/

# backup files
*~
*#
.#*
*.bak

# Visual Studio
*.vcxproj
*.vcxproj.filters
*.sln
.VS/
WIN32/
*.db
*.opendb
