# CMake output files
.ninja_log
CTestTestfile.cmake
build.ninja
builds/
sources/
INSTALL/
cmake_install.cmake
CMakeCache.txt
CMakeFiles/

# backup files
*~
*#
.#*
*.bak

# Visual Studio
*.vcxproj
*.vcxproj.filters
*.sln
.VS/
WIN32/
*.db
*.opend

# Visual Studio Code
.vscode

# Terraform
*.tfvars
*.tfstate
*.tfstate.backup
*.tfstate.lock.info
*.log
.terraform/

# macOS
.DS_Store
