*-prefix/
Boost/
FFTW3/
HDF5/
INSTALL/
Makefile
SIRF/
STIR/
ISMRMRD/
Gadgetron/
SWIG/
armadillo/
googletest/

# CMake output files
cmake_install.cmake
CMakeCache.txt
CMakeFiles/

# backup files
*~
*#
.#*
*.bak
