subscription_id 	= "YOUR_SUBSCRIPTION_ID_HERE"
client_id 		    = "YOUR_APPLICATION_ID_HERE"
client_secret 		= "YOUR_SECRET_KEY_HERE"
tenant_id 		    = "YOUR_TENANT_ID_HERE"
location 		      = "westeurope"
vm_prefix         = "sirf"
vm_username 		  = "sirfuser"
vm_password 		  = "sirf%1"
vm_jupyter_pwd    = "virtual%1"
vm_jupyter_port   = "9999"
vm_size           = "Standard_D2_v2"
