name: base
channels:
  - conda-forge
  - https://software.repos.intel.com/python/conda # cil
  - ccpi  # cil
  - defaults
dependencies:
  - setuptools
  - wheel
  - pytest
  - pytest-cov
  - scipy
  - docopt
  - matplotlib
  - pandas
  - tifffile
  - nibabel
  - deprecation
  - nose
  - zenodo_get
  - jupytext
  - tensorboard
  - tensorboardx
  - pip
  - cil               # cil
  - ccpi-regulariser  # cil
  - dxchange          # cil
  - h5py              # cil
  - cxx-compiler=1.5.2 # g++ 11.4 on Linux, same as Ubuntu 22.04 (supported by current Gadgetron has)
  - boost             # Ubuntu 22.04 cxx-compiler
  - fftw              # Ubuntu 22.04 cxx-compiler
  - pillow            # cil
  - olefile >=0.46    # cil
  - pywavelets        # cil
  - cil-data >=21.3.0 # cil
  - ipp >=2021.10     # cil
  - tqdm              # cil
  - numba             # cil
  ## - tigre          # cil (GPU) # TODO: remove second # prefix once tigre is build for numpy>=2
  # - astra-toolbox 2 cuda* # cil (GPU)
  - pip:
    - git+https://github.com/ismrmrd/ismrmrd-python-tools.git@master#egg=ismrmrd-python-tools
    # TODO: labextension @jupyter-widgets/jupyterlab-manager (jupyterlab_widgets ipywidgets ipympl)
    # is broken because `conda-forge::cil` downgrades `ipywidgets<8` -> breaks `%matplotlib widgets`.
    # - temp fix: install upgraded versions via pip (not conda)
    # - proper fix: remove after https://github.com/TomographicImaging/CIL/issues/1600
    - jupyterlab_widgets
    - ipywidgets>=8
    - ipympl
