setuptools
wheel
numpy        # CIL
scipy        # CIL
docopt
matplotlib
git+https://github.com/ismrmrd/ismrmrd-python-tools.git@master#egg=ismrmrd-python-tools
Cython       # CIL
h5py         # CIL
Pillow       # CIL
wget         # CIL
six          # CIL
olefile      # CIL
opencv-python # CIL
git+https://github.com/data-exchange/dxchange.git  # CIL
numba        # CIL
pywavelets   # CIL
scikit-image # CIL
tqdm         # CIL
pandas
tifffile
nibabel
deprecation
nose
pytest
pytest-cov
coverage
zenodo_get # CIL
