# cil
# cil-astra
# ccpi-regulariser 
ipp
ipp-devel
ipp-include
tigre
# tomophantom=1.4.10
python-wget
matplotlib<3.5 # CIL
Cython       # CIL
numpy=1.20   # CIL
scipy        # CIL
h5py         # CIL
Pillow       # CIL
wget         # CIL
six          # CIL
olefile      # CIL
pywavelets   # CIL
olefile>=0.46      # CIL
dxchange     # CIL
h5py         # CIL
tqdm         # CIL
numba        # CIL
nose
docopt
nibabel
deprecation
nose
