setuptools
wheel
numpy        # CIL
scipy        # CIL
docopt
matplotlib
git+https://github.com/ismrmrd/ismrmrd-python-tools.git@master#egg=ismrmrd-python-tools
Cython       # CIL
h5py         # CIL
Pillow       # CIL
wget         # CIL
six          # CIL
olefile      # CIL
git+https://github.com/data-exchange/dxchange.git  # CIL
# https://numba.discourse.group/t/numba-0-50-0-and-llvmlite-0-33-0-released/19
# https://github.com/numba/llvmlite/issues/621
numba<0.51        # CIL
pandas
tifffile
nibabel
deprecation
nose